<!DOCTYPE html>
<html>
<head>
	<title>Datura Corsets - $title$</title>
	<meta charset="UTF-8">
	<meta name="description" content="$title$">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:title" content="$title$">
	<meta property="og:description" content="La Datura Corsets est une entreprise de confection de vêtements, spécialisée en corseterie.">
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://www.ladatura-corsets.com$url$">
	<meta property="og:locale" content="fr_FR">
	<meta property="og:site_name" content="Datura Corsets">
	<meta property="og:image" content="http://www.ladatura-corsets.com$if(cover)$$for(cover)$$cover$$endfor$$else$/img/logo.png$endif$">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/datura.css" rel="stylesheet">
	<link href="/css/lightbox.css" rel="stylesheet">
	<link rel="icon" type="image/png" href="/img/favicon.png">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.js"></script>
	<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="container">
		<header class="row">
			<a href="/"><img src="/img/header.jpg" alt="Header" class="img-responsive"></a>
		</header>

		<nav class="row navblock">
			<ul class="nav nav-justified">
				<li><a href="/">Accueil</a></li>
				<li class="dropdown">
					<a data-target="#" href="/galerie" data-toggle="dropdown">Galerie <b class="caret"></b></a>
					<ul class="dropdown-menu">
						$tags$
						<li class="divider"></li>
						<li><a href="/galerie">Tout</a></li>
					</ul>
				</li>
				<li><a href="/commande.html">Commande</a></li>
				<li><a href="/a-propos.html">À propos</a></li>
				<li><a href="/contact.html">Contact</a></li>
			</ul>
		</nav>

		<article class="row content">
			$body$
		</article>

		<footer class="row">
			<div class="col-lg-2 col-sm-3 text-center">
				<h3><a href="/">Datura Corsets</a></h3>
			</div>
			<div class="col-lg-offset-1 col-md-2 col-sm-3">
				<h4>Plan du site</h4>
				<ul class="list-unstyled">
					<li><a href="/">Accueil</a></li>
					<li><a href="/galerie">Liste des articles</a></li>
					<li><a href="/commande.html">Commande</a></li>
					<li><a href="/a-propos.html">À propos</a></li>
					<li><a href="/mentions_legales.html">Mentions légales</a></li>
				</ul>
			</div>
			<div class="col-md-2 col-sm-3">
				<h4>Galerie</h4>
				<ul class="list-unstyled">$tags$</ul>
			</div>
			<div class="col-md-2 col-sm-3">
				<h4>Contact</h4>
				<ul class="list-unstyled">
					<li><a href="/contact.html">Page de contact</a></li>
					<li><a href="https://www.facebook.com/pages/Datura-corsets/147198705334044">Facebook</a></li>
					<li><a href="https://twitter.com/Datura_Corsets">Twitter</a></li>
				</ul>
			</div>
		</footer>
	</div>

	<!--[if lt IE 9]>
	<script src="//cdn.jsdelivr.net/jquery/1.11.2/jquery.min.js"></script>
	<![endif]-->
	<!--[if (gte IE 9)|(!IE)]><!-->
	<script src="/js/jquery-2.1.3.min.js"></script>
	<!--<![endif]-->
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/lightbox.min.js"></script>

	<!-- Piwik -->
	<script type="text/javascript">
		var _paq = _paq || [];
		_paq.push(["trackPageView"]);
		_paq.push(["enableLinkTracking"]);

		(function() {
			var u=(("https:" == document.location.protocol) ? "https" : "http") + "://stats.ladatura-corsets.com/";
			_paq.push(["setTrackerUrl", u+"piwik.php"]);
			_paq.push(["setSiteId", "3"]);
			var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
			g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
		})();
	</script>
	<noscript><img src="http://stats.ladatura-corsets.com/piwik.php?idsite=3&amp;rec=1" style="border:0" alt=""></noscript>
	<!-- End Piwik Code -->
</body>
</html>
