<h1>Exemples de réalisations dans l'univers Steampunk</h1>

<div class="col-lg-4">
	<div class="row">
		<div class="col-lg-offset-1 col-lg-10">
			<img src="http://placekitten.com/300/400" alt="" class="img-responsive">
		</div>
	</div>
</div>
<div class="col-lg-4">
	<div class="row">
		<div class="col-lg-offset-1 col-lg-10">
			<img src="http://placekitten.com/300/400" alt="" class="img-responsive">
		</div>
	</div>
</div>
<div class="col-lg-4">
	<div class="row">
		<div class="col-lg-offset-1 col-lg-10">
			<img src="http://placekitten.com/300/400" alt="" class="img-responsive">
		</div>
	</div>
</div>

<div>$body$</div>
<div>
	<ul>
		$for(articles)$
	    <li>
	    	<a href="$url$">$title$</a>
	    </li>
	    $endfor$
	</ul>
</div>
